body
{
	background:	#aaa;
}
a:visited 
{
	color: #000;
  text-decoration: none;
}
a:link 
{
	color: #000;
	text-decoration: none;
}
a:active
{
	color: #000;
	text-decoration: none;
}
#Switch{
	background-color: #818181;
}
#Switch:hover
{
	background-color: #ffffff;
}
#side
{
	border: 2px solid #fff;
	width: 80px;
	position: relative;
	height: 100%;
	background: #00968D;

}
#side ul
{
	list-style:  none;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
	color: #fff;
	padding: 5px;
	font-size: 20px;
}
#subject
{
	width: 968px;
	height: 280px;
	left: 0px;
	top: 292px;
	position: absolute;
	font-family: verdana;
	padding-left: 35px;
	font-size: 20px;


}
#tense
{
	width: 968px;
	height: 340px;
	left: 0px;
	top: 576px;
	border: 2px solid #fff;
	position: absolute;
	font-family: verdana;
	padding-left: 35px;
	font-size: 20px;

}
#voice
{
	width: 968px;
	height: 340px;
	left: 0px;
	top: 916px;
	border: 2px solid #fff;
	position: absolute;
	font-family: verdana;
	padding-left: 35px;
	font-size: 20px;

}
#Narration
{
	width: 90%;
	height: 430px;
	left: 0px;
	top: 500px;
	border: 2px solid #fff;
	position: absolute;
	font-family: verdana;
	padding-left: 35px;
	font-size: 30px;

}
#topside
{
	font-size: 20px;
}

#tensesubject
{
	width: 94%;
	height: 1640px;
	top: 40%;
	border: 5px solid #fff;
	position: absolute;
	font-family: verdana;
	padding-left: 50px;
	font-size: 20px;
	font-family: verdana;
}


#tense2subject
{
	width: 899px;
	height: 1000px;
	top: 1000px;
	position: absolute;
	font-family: verdana;
	padding-left: 50px;
	font-size: 20px;
}
#tense3subject
{
	width: 899px;
	height: 650px;
	left: 0px;
	top: 1400px;
	position: absolute;
	font-family: verdana;
	padding-left: 50px;
	font-size: 20px;
}